{% case media.media_type %}
  {% when 'image' %}
    <div class=" group mx-auto {% if thumbnail %} w-[50px] md:w-[80px] mr-2 {% else %} w-full {% endif %} overflow-hidden relative before:content-[''] before:block before:pt-[100%]">
      {{
        media
        | image_url: width: media.width
        | image_tag:
          class: 'h-full w-full object-cover absolute left-1/2 top-0 -translate-x-1/2 transition duration-700 ease-in-out',
          loading: 'lazy'
      }}
    </div>

  {% when 'external_video' %}
    <div class=" group {% if thumbnail %} w-[50px] md:w-[80px] mr-2 {% else %} w-full {% endif %} overflow-hidden relative before:content-[''] before:block before:pt-[100%]">
      {{
        media
        | external_video_tag:
          class: 'h-full w-full object-cover absolute left-1/2 top-0 -translate-x-1/2 transition duration-700 ease-in-out'
      }}
    </div>
  {% when 'video' %}
    <div class=" group {% if thumbnail %} w-[50px] md:w-[80px] mr-2 {% else %} w-full {% endif %} overflow-hidden relative before:content-[''] before:block before:pt-[100%]">
      {{
        media
        | video_tag:
          controls: true,
          class: 'h-full w-full object-cover absolute left-1/2 top-0 -translate-x-1/2 transition duration-700 ease-in-out'
      }}
    </div>

  {% when 'model' %}
    <product-model data-media-id="{{ media.id }}" class="{% unless thumbnail %} h-full w-full relative {% endunless %}">
      <div>
        <button
          id="productModelOpenButton_{{ media.id }}"
          x-on:click="productModalOpen = true"
          class="w-full h-full border relative"
        >
          <span class="border absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {% render 'icon-model-viewer' %}
          </span>
          <div class=" group {% if thumbnail %} w-[50px] md:w-[80px] mr-2 {% else %} w-full {% endif %} overflow-hidden relative before:content-[''] before:block before:pt-[100%]">
            {{
              media
              | image_url: width: media.width
              | image_tag:
                class: 'h-full w-full object-cover absolute left-1/2 top-0 -translate-x-1/2 transition duration-700 ease-in-out',
                loading: 'lazy'
            }}
          </div>
        </button>
      </div>

      <template>
        {{ media | model_viewer_tag: reveal: 'interaction' }}
      </template>
    </product-model>

  {% else %}
    {{ media | media_tag }}
{% endcase %}
