<footer class="en-container section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="">
    {%- liquid
      assign has_social_icons = true
      assign show_social_icons = true
      if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
        assign has_social_icons = false
        assign show_social_icons = false
      endif
      if section.settings.show_social == false
        assign show_social_icons = false
      endif
    -%}
    {%- if section.blocks.size > 0
      or section.settings.newsletter_enable
      or show_social_icons
      or section.settings.enable_follow_on_shop
    -%}
      <div class="en-width flex flex-col gap-8">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-8"
        >
          {%- for block in section.blocks -%}
            <div
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.heading != blank -%}
                <h2 class="ent-title-sm">
                  {{- block.settings.heading -}}
                </h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'text' -%}
                  <div class="">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="p-0 list-none">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="underline{% if link.active %} font-bold{% endif %}"
                          >
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                {% when 'email_signup' %}
                  <div class="flex flex-col">
                    {%- if section.settings.newsletter_heading != blank -%}
                      <h2 class="ent-title-sm">
                        {{ section.settings.newsletter_heading }}
                      </h2>
                    {%- endif -%}
                    <div class="max-w-[40rem] w-full">
                      {%- form 'customer', id: 'ContactFooter', class: '' -%}
                        <input
                          type="hidden"
                          name="contact[tags]"
                          value="newsletter"
                        >
                        <div class="">
                          <div class="">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="en-input"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="Email"
                              required
                            >

                            <button
                              type="submit"
                              class="newsletter-form__button field__button"
                              name="commit"
                              id="Subscribe"
                              aria-label="Subscribe"
                            >
                              {% render 'icon-arrow' %}
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="" id="ContactFooter-error">
                              {%- render 'icon-error' -%}
                              {{- form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email -}}
                            </small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3
                            class=""
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                          >
                            {% render 'icon-success' -%}
                            Thank you for subscribing.
                          </h3>
                        {%- endif -%}
                      {%- endform -%}
                    </div>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>

        <div class="footer__column footer__column--info"></div>

        <div
          class="flex flex-col md:flex-row md:gap-8 items-center justify-between"
        >
          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
              {% # theme-check-disable %}
              {{ shop | login_button: action: 'follow' }}
              {% # theme-check-enable %}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>

  <div class="footer-bottom en-width flex gap-6 justify-around">
    <div class="flex gap-3">
      {% if section.settings.enable_country_selector %}
        {% render 'country-localization', position: 'footer' %}
      {% endif %}
      {% if section.settings.enable_language_selector %}
        {% render 'language-localization', position: 'footer' %}
      {% endif %}
    </div>

    {%- if section.settings.payment_enable -%}
      <div class="footer__payment">
        <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
        <ul class="flex flex-wrap gap-2" role="list">
          {%- for type in shop.enabled_payment_types -%}
            <li class="list-payment__item">
              {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    <div class="copyright text-center">
      <small class="">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}</small>
      <small class="">{{ powered_by_link }}</small>
      {%- if section.settings.show_policy -%}
        <ul class="text-sm">
          {%- for policy in shop.policies -%}
            {%- if policy != blank -%}
              <li>
                <small class=""
                  ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                >
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "Social icons",
      "limit": 1
    },
    {
      "type": "email_signup",
      "name": "Email Signup",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Header content"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": false,
      "label": "Enable newsletter"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "Newsletter heading"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social icons"
    },
    {
      "type": "header",
      "content": "Localization"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "Enable country selector"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "Enable language selector"
    },
    {
      "type": "header",
      "content": "Payment options"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "Show payment options"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "Show policy links"
    },
    {
      "type": "range",
      "default": 20,
      "min": 0,
      "max": 50,
      "id": "padding",
      "label": "Padding",
      "info": "Padding top and bottom",
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradient Background"
    },
    {
      "type": "color_scheme",
      "label": "Color Scheme",
      "id": "color_scheme",
      "default": "accent-1"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
