<en-header
  data-headertype="hideonscroll"
  class="fixed left-0 top-0 w-full transition-all duration-500 bg-[rgba(var(--headerBackgroundColor))] text-[rgba(var(--headerTextColor))] z-[10]"
>
  <div class="en-container relative ">
    <div class="en-width  flex flex-col gap-8 lg:py-6">
      <div class="grid grid-cols-3">
        <open-drawer
          data-drawer="menu"
          class="en-menu-icon w-[30px] cursor-pointer flex flex-col items-center justify-center gap-1 {% unless section.settings.menu_style == 'drawer' %} lg:hidden {% endunless %}"
        >
          {% render 'icon-bars' %}
        </open-drawer>
        {% unless section.settings.menu_style == 'drawer' %}
          <div class="hidden lg:flex items-center">
            <div class="relative">
              <form action="{{ routes.search_url }}">
                <input
                  type="text"
                  name="q"
                  value="{{ search.terms | escape }}"
                  class="en-input px-2 py-2 text-sm bg-transparent placeholder:uppercase placeholder:text-sm"
                  placeholder="Search"
                >
                <input type="hidden" name="type" value="product,page">
                <input type="hidden" name="options[unavailable_products]" value="hide">
                <input type="hidden" name="options[prefix]" value="last">
                <button type="submit">
                  <div class="en-search-small absolute top-0 right-1 translate-y-2 pr-1">
                    {% render 'icon-search' %}
                  </div>
                </button>
              </form>
            </div>
          </div>
        {% endunless %}

        <div class="flex items-center justify-center flex-grow">
          <a href="{{ routes.root_url }}" class="">
            {%- if settings.logo != blank -%}
              <div class="">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'logo',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              </div>
            {%- else -%}
              <h1 class="text-2xl uppercase">{{ shop.name }}</h1>
            {%- endif -%}
          </a>
        </div>

        <div class="icons flex items-center justify-end gap-2">
          {% if section.settings.enable_language_selector %}
            {% render 'language-localization' %}
          {% endif %}
          <div class="en-menu-icon lg:hidden">
            {% render 'icon-search' %}
          </div>

          {% if settings.cart_type == 'drawer' %}
            <open-drawer data-drawer="cart-drawer" class="cursor-pointer">
              {% unless section.settings.icon_style == 'text' %}
                {% render 'icon-cart', items: cart.item_count, style: section.settings.icon_style %}
              {% else %}
                Cart
              {% endunless %}
            </open-drawer>

          {% else %}
            <div class="cart">
              <a href="{{ routes.cart_url }}">
                {% unless section.settings.icon_style == 'text' %}
                  {% render 'icon-cart', items: cart.item_count, style: section.settings.icon_style %}
                {% else %}
                  Cart
                {% endunless %}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      {% unless section.settings.menu_style == 'drawer' %}
        {% render 'mega-menu', menu: section.settings.menu %}
      {% endunless %}
      {% render 'menu-drawer', menu: section.settings.menu, menu_style: section.settings.menu_style %}
    </div>
  </div>
</en-header>

<div
  id="overlay"
  class="overlay-full"
></div>
{% render 'cart-drawer-new' %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "select",
      "id": "menu_style",
      "default": "standard",
      "label": "Menu style",
      "options": [
        {
          "label": "Standard",
          "value": "standard"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_style",
      "default": "standard",
      "label": "Icon style",
      "options": [
        {
          "label": "Standard",
          "value": "standard"
        },
        {
          "value": "modern",
          "label": "Modern"
        },
        {
          "value": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "Enable language selector"
    }
  ]
}
{% endschema %}
